# package directories
node_modules
jspm_packages
bin
# Serverless directories
.serverless

# Webpack directories
.webpack

# Visual studio
.vscode

#local environmnet
.env.local.json

.env
.env.*

# See https://help.github.com/ignore-files/ for more about ignoring files.


# testing
/coverage

.idea
.serverless
